<body>


<div class="card" style="width: 18rem;">
    <img src="/assets/cocomediano.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <p class="card-title">My Name is Caled, if you want to see what tecnologies I've used to create this final project...please press the button.</p>
        <button (click)="showText()">Show Tecnologies</button>
        <ul *ngIf="show">
            <li>Angular</li>
            <li>Typescript</li>
            <li>Boostrap</li>
        </ul>

        <h1>How to contact me?</h1>
        <p>calebpereiraquiros@gmail.com</p>
    </div>

</div>




</body>
